fastapi
uvicorn[standard]
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
sqlalchemy
faker
bcrypt==4.0.1
pydantic[email]
pydantic-settings
langchain
langchain-openai
jinja2